.overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focus text {
    font-size: 12px;
  }
  
  .tooltip {
    fill: white;
    stroke: #000;
  }
  
  .tooltip-date, .tooltip-info {
    font-weight: bold;
  }

  .focus{
    z-index: 1000000;
  }